<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Stake Holder</th>
      <th>Jenis</th>
      <th>Jumlah Distribusi</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < stackholder.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= stackholder[i].name %></td>
      <td><%= stackholder[i].stakeholder %></td>
      <td><%= stackholder[i].jenis %></td>
      <td><%= stackholder[i].jumlahDistribusi %></td>
      <td>
        <form
          action="/stakeholder/delete/<%= stackholder[i]._id %>?_method=DELETE"
          method="POST"
        >
          <a
            href="/stakeholder/edit/<%= stackholder[i]._id %>"
            class="btn btn-info btn-sm"
          >
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
