<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Kekeruhan Air</th>
      <th>pH Air</th>
      <th>Oksigen</th>

      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < keruhAir.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= keruhAir[i].kekeruhanAir %></td>
        <td><%= keruhAir[i].phAir %></td>
        <td><%= keruhAir[i].oksigen %></td>
        <td><%= keruhAir[i].updatedAt %></td>
      </tr>
    <% } %>
  </tbody>
</table>
