<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama User</th>
      <th>Jenis Tanaman</th>
      <th>Stock</th>
      <th>Harga</th>
      <th>Aksi</th>

    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < hasilTanam.length; i++){ %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= hasilTanam[i].name_user %></td>
        <td><%= hasilTanam[i].jenis_tanaman %></td>
        <td><%= hasilTanam[i].stock %></td>
        <td><%= hasilTanam[i].harga %></td>
        <td>
          <form
            action="/hasilTanam/delete/<%= hasilTanam[i]._id %>?_method=DELETE"
            method="POST"
          >
            <a
              href="/hasilTanam/edit/<%= hasilTanam[i]._id %>"
              class="btn btn-info btn-sm"
            >
              <i class="fas fa-pencil-alt"></i>
              Ubah
            </a>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
